BalinasoftTestApp.xcodeproj/project.xcworkspace/xcuserdata/lungful.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
BalinasoftTestApp.xcodeproj/xcuserdata/lungful.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
